@import './bootstrap/functions';
@import './bootstrap/variables';

body{
  #root{
    min-height: 100vh;
    #App{
      min-height: 100vh;
      #Application{
        min-height: 100vh;
      }
    }
  }
}